/* Здесь будут храниться стили нашего сайта */
body{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
	padding:0;
	margin:0;
}

.header{
	display: flex;
	justify-content: flex-end;
	width:100%;
	height:765px;
	padding: 55px 0;
	background-image:url(../images/header-bg.png);
	background-position:center;
	background-size:cover;
	box-sizing: border-box;
}

.header-text{
	color:#fff;
	border:3px solid #fff;
	padding:140px 365px 70px 195px;
	margin-right: 237px;
}

.header-title{
	width:530px;
	font-family: "Roboto Slab";
	font-size: 48px;
	font-weight: 700;
	line-height: 55px;
	letter-spacing: 2.4px;
	padding-bottom: 50px;
}

.header-description{
	width:485px;
	font-size: 24px;
	font-weight: 300;
	line-height: 40px;
	letter-spacing: 1.2px;
	padding-bottom: 40px;
}

.header-button{
	color:#fff;
	font-size: 19px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0.95px;
	text-decoration: none;
	border:2px solid #fff;
	border-radius:30px;
	padding:18px 33px;
	margin-right: 30px;
}

.header-button-o{
	background: #fff;
	color:#005388;
}

.header-button:hover{
	background: #fff;
	color:#005388;
}

.header-button-o:hover{
	background: transparent;
	color:#fff;
}

.works{
	display:flex;
	justify-content: center;
	padding:115px 0;
}

.wrapper{
	width: 100%;
	max-width: 1250px;
}
.works-items{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
}

.works-item{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width:100%;
	max-width:576px;
	background-color:#fcfbfb;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.work-img{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 323px;
}

.work-text{
	padding:40px 18px 30px 18px;
}

.work-description{
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.9px;
	min-height: 56px;
}

.work-link{
	font-size: 18px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0.9px;
	color:#005388;
}

.block-title{
	font-family: "Roboto Slab";
	font-size: 45px;
	font-weight: 700;
	/*line-height: 87px;*/
	letter-spacing: 2.25px;
	padding-bottom: 70px;
}

.action{
	display:flex;
	justify-content: center;
	background-color:#4c4c4c;
	color:#fff;
	padding:70px 0 90px 0;

}

.action-container {
	display:flex;
	justify-content: space-between;
	align-items:center;
}

.action-description{
	width: 505px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 300;
	line-height: 27px;
	letter-spacing: 0.9px;
}

.action-form{
	background-color:#fff;
	border-radius:40px;
	padding-left:35px;
}

.action-input{
	border:none;
	color: #225485;
	font-size: 24px;
	font-weight: 300;
	line-height: 40px;
	letter-spacing: 1.2px;
	padding-right:10px;

}

.action-input:focus{
	outline:none;
}

.action-submit{
	color: #ffffff;
	font-size: 20px;
	font-weight: 300;
	line-height: 40px;
	letter-spacing: 0.95px;
	background-color:#7dcd3e;
	border:none;
	border-radius:40px;
	padding:15px 45px 18px 45px;
	cursor:pointer;
	margin-right: -1px;
}

.action-submit:focus{
	outline:none;
}

.info{
	display: flex;
	justify-content: center;
	padding:175px 0 130px 0;
}

.info-text{
	padding-left:200px;
}

.info-container{
	display: flex;
	justify-content: flex-start;
}

.form-link{
	color:#225485;
	text-decoration: none;
}

.info-description{
	width:338px;
	color: #000000;
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.9px;
	padding-bottom: 50px;
}

.contacts-item{
	display:flex;
	justify-content: center;
	align-items: center;
}

.contact-name{
	width: 100px;
	text-align: right;
	padding-right: 29px;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 31px;
	letter-spacing: 0.9px;
}

.contact-value{
	width:200px;
	font-size: 18px;
	font-weight: 500;
	line-height: 31px;
	letter-spacing: 1.2px;
}

.contact-link{
	color: #000000;
	text-decoration: none;
}

.contact-link:hover{
	text-decoration: underline;
}

.info-form{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 80px;
}

.info-input{
	width:100%;
	max-width: 495px;
	text-align: center;
}

.info-img{
	width: 76%;
}

.info-submit{
	width:100%;
	max-width: 495px;
	text-align: center;
	background-color:#7dcd3e;
	border:none;
	border-radius: 30px;
	padding:14px 0;
	color:#fff;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.95px;
	margin-top:35px;
}

.info-input{
	color: #808080;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1.2px;
	padding:12px 0;
	margin:9px 0;
	border-radius:30px;
	border:2px solid #cdcdcd;
}

.info-input:focus{
	outline:none;
}

.info-input-checkbox{
	width:25px;
	height: 25px;
	display: block;
}


.form-check{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top:22px;
}

.form-description{
	width:350px;
	color:#000;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0.6px;
	padding-left:23px;
}

.footer{
	display:flex;
	justify-content: center;
	background-color:#005388;
	padding:58px 0 32px 0;
}

.footer-text{
	display:flex;
	flex-direction: column;
	color: #cccccc;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.6px;
}

.footer-link{
	color:#cccccc;
}
/* Header */
@media screen and (max-width:1700px){
	.header-text{
		margin-right:145px;
	}
}

@media screen and (max-width:1650px){
	.header-text{
		margin-right:115px;
	}
}

@media screen and (max-width:1490px){
	.header-text{
		margin-right:50px;
	}
}

@media screen and (max-width:1350px){
	.header{
		justify-content: center;
		background-position: right;
	}

	.header-text{
		margin-right:0;
	}
}


@media screen and (max-width:1110px){
	/*HEADER*/
	.header-text{
		display:flex;
		flex-direction: column;
		justify-content: center;
		/*padding:0 50px;*/
		padding: 0;
		border:none;
	}

@media screen and (max-width:380px) {
	.header-title {
		white-space: wrap;
	}

	.header-description {
		white-space: wrap;
	}
}

	.header-title, .header-description{
		text-align: center;
		width: auto;
	
	}

	.header-button{
		text-align: center;
		margin-right: 0;
		margin-bottom:20px;
		align-self:center;
		width: 100%;
		max-width: 200px
	}

	/*GENERAL*/
	.wrapper{
		/*padding:0 50px;*/
		padding: 0;
	}

	.block-title{
		text-align: center;
		padding-bottom: 50px;
		font-size:35px;
	}

	/*WORKS*/
	.works{
		padding:50px 0;
	}

	.works-items{
		justify-content: center;
	}

	.work-item{
		margin-bottom:50px;
	}

	.work-img img{
		width: 100%;
	}

	/*ACTION*/
	.action-container{
		flex-direction: column;
	}

	.action-form{
		padding:0;
		width: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.action-description{
		width: auto;
	}

	.action-input{
		padding:0;
		margin: 20px 0;
		text-align: center;
	}
	
	.action-submit{
		margin: 20px 0;
	}

	/*INFO*/
	.info-container{
		flex-direction: column;
		padding:50px 0;
	}

	.info-description{
		width: auto;
		text-align: center;
	}

	.info-experience{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	/*CONTACS*/
	.contact-item{
		justify-content: flex-start;
	}

	.contact-name, .contact-value{
		width:auto;
	}

	.info-img{
		width: 50%;
	}

	.info-text{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding:50px 0 0 0;

	}

	.info-form{
		padding-top:50px;
	}

	.form-description{
		font-size:14px;
	}


	.info-submit, .info-input{
		width:auto;
	}
	
	.info-submit{
		padding:20px;
	}

	.form-description{
		width:200px;
	}

	/*FOOTER*/
	.footer-text{
		align-items:center;
		font-size:14px;
	}
}
